
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI;
}

body{
  background:#f3f5f7;
}

.container{
  width:88%;
  margin:auto;
}

/* NAV */
.header{
  background:#0b2c5e;
  color:white;
}

.nav{
  display:flex;
  justify-content:space-between;
  padding:15px 0;
}

nav a{
  margin-left:20px;
}

/* HERO */
.hero{
  height:90vh;
  background:url('images/ship.jpg') center/cover;
  position:relative;
  display:flex;
  align-items:center;
}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.6);
}

.hero-text{
  position:relative;
  color:white;
}

.hero h1{
  font-size:42px;
  line-height:1.2;
}

.hero span{
  color:#ff6a00;
}

.btns{
  margin-top:20px;
}

.btn{
  background:#ff6a00;
  color:white;
  padding:10px 20px;
  border:none;
}

.btn-outline{
  background:none;
  border:1px solid white;
  color:white;
  padding:10px 20px;
}

/* SERVICES GRID */
.services{
  margin-top:60px;
  background:white;
  padding:30px;
}

.services-grid{
  display:grid;
  grid-template-columns:2fr 1fr;
  grid-template-rows:auto auto;
  gap:20px;
}

/* LEFT */
.crew{
  background:#f7f7f7;
  padding:20px;
}

/* RIGHT */
.barge{
  background:#0b2c5e;
  color:white;
  padding:20px;
  display:flex;
  justify-content:space-between;
  width: 400px;
  height: 250px;
}

/* BOTTOM */
.tech{
  grid-column:1/3;
  background:#f1f1f1;
  padding:20px;
  display:flex;
  gap:10px;
  margin-top: 40px;
}

.mini-box{
  width:60px;
  height:40px;
  background:white;
}

/* STATS */
.stats{
  background:#0b2c5e;
   color:white;
  padding:30px;
  margin-top: 40px;
}

.stat-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  text-align:center;
}

/* GLOBAL */
.global{
  display:flex;
  justify-content :space-around;
  gap:30px;
  margin:50px auto;
}

.global img{
  width:50%;
}

/* WHY */
.why{
  background:#0b2c5e;
  color:white;
  padding:50px 0;
}

.why-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:15px;
}

.big{
  background:#ff6a00;
  padding:20px;
}

/* CTA */
.cta{
  display:flex;
  justify-content:space-between;
  margin:50px auto;
}

.cta img{
  width:40%;
}

/* FOOTER */
.footer{
  background:#0b2c5e;
  color:white;
  text-align:center;
  padding:20px;
}

/* MOBILE */
@media(max-width:768px){
  .services-grid{
    grid-template-columns:1fr;
  }

  .tech{
    grid-column:auto;
    flex-direction:column;
  }

  .global,
  .cta{
    flex-direction:column;
  }

  .why-grid{
    grid-template-columns:1fr;
  }
}
